* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f7f7f7;
    font-family: 'Gotham Screen Smart';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .24), 0 2px 2px 0 rgba(0, 0, 0, .12);
    position: fixed;
    position: -webkit-sticky;
    z-index: 2;

}


nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    font-family: 'Gotham Screen Smart';
    font-weight: 500;
}

nav ul li button {
    border: none;
    background-color: white;

}



.leftside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 35%;
    padding-top: 8%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .24), 0 2px 2px 0 rgba(0, 0, 0, .12);
    left: 0;
    top: 0;
    bottom: 0;
}

.cards {
    height: 75%;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.cards img {
    height: 100%;
    width: 95%;
    border-radius: 5%;
    box-shadow: 0px 0px 4px 0px black;
}

.rightside {
    width: 65%;
    height: 100%;
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    float: right;
    font-family: 'Gotham Screen Smart';
    font-weight: 800;
}

.text {
    display: flex;
    width: 95%;
    height: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.text p {
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.links {
    display: flex;
    width: 50%;
    font-size: 2rem;
    padding-top: 5%;
}

.links a {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}



.rin1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.p2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-top: 3%;
    text-align: center;

}

.text1 {
    color: black;
    text-align: center;
    padding-top: 10%;
    width: 95%;
    padding-left: 3%;
}

.btn {
    margin-bottom: 10%;

}





.img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.img img {
    width: 195%;
}

.btn a {
    text-decoration: none;
    color: black;
    font-family: 'Gotham Screen Smart';
}

.btn a:hover {
    color: white;
    transition: 1s;
}

.p1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-top: 3%;
    text-align: center;
}


.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 65%;
    height: 8%;
    float: right;
    font-family: 'Gotham Screen Smart';
}

.forms p {
    font-family: 'Gotham Screen Smart';
    font-weight: 800;
}

form {
    width: 100%;
    font-family: 'Gotham Screen Smart';
}

#name,
#email,
#tel,
#bg {
    border-radius: 2px;
    padding: 1%;
    border: none;
    background: #f1f1f1;

}

#msg {
    padding: 3%;
}

input[type="email"] {
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

textarea {
    border: none;
    background: #f1f1f1;

}

textarea:focus {
    outline: none;
}

input[type="submit"] {
    width: 8%;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background: transparent;

}

input[type="submit"]:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: 1s;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 60%;
    padding-left: 10%;
    text-align: center;
    padding-top: 10%;
}

.about img {
    width: 70%;
    padding-top: 5%;
}

.blank {
    display: flex;
    width: 100%;
    height: 100%;
}

.links a i:hover {
    transform: rotateZ(360deg);
    transition: 1s;
}

@media screen and (max-width: 912px) {


    nav ul{
        width: 60%;
    }
    .leftside {
        display: flex;
        position: static;
        width: 100%;
        box-shadow: none;
    }
    .rightside{
        display: flex;
        width: 100%;
    }

    .leftside .card img {
        max-width: 50%;
        margin-top: 5%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }


    .forms{
        width: 105%;
    }

    .btn button{
        width: 25%;
    }
    input[type="submit"]{
        width: 10%;
    }

}
@media screen and (max-width: 426px) {

    nav ul li a{
    font-size: 1rem;
}
    nav ul{
        width: 100%;
        font-size: .2rem;
        margin: 0;
        padding-left: 0;
    }
    .leftside {
        display: flex;
        position: static;
        width: 100%;
        box-shadow: none;
    }
    .rightside{
        display: flex;
        width: 100%;
    }

    .leftside .card img {
        max-width: 60%;
        margin-top: 10%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }


    .forms{
        width: 105%;
    }

    .btn button{
        width: 25%;
    }
    input[type="submit"]{
        width: 17%;
    }

}